.text-primary {
    color: #0d355f; 
  }

  
  .gradient-button {
    background: linear-gradient(90deg, #72c6ef, #004e92); 
    color: #fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem; 
  }
  
  .gradient-button:hover {
    opacity: 0.9; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }



  .testimonial {
    display: none;
}

.testimonial.active {
    display: block;
}

.dot.active {
    background-color: #007bff;
    transform: scale(1.2);
}

  .gradient-btn {
    background: linear-gradient(to left, #005880, #fefefe); /* Gradient colors */
    color: white; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 1rem; 
    font-weight: bold; 
    cursor: pointer; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  

  .gradient-btn:hover {
    transform: scale(1.25); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .gradient-btn:active {
    transform: scale(0.95); 
  }
  
 
  
  